:root {
  --default-font-style: "Ubuntu", sans-serif;
  --color-dark-grey: #1d1d1d; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--default-font-style);
  line-height: 1;
  color: var(--default-font-color); }

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none; }

p {
  font-size: 1.5rem;
  margin: 1rem 0; }

.top-strip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: var(--color-dark-grey);
  color: #ffffff;
  font-size: 1.5rem; }

.active-tab {
  align-self: flex-start;
  height: 100%;
  display: flex;
  align-items: center; }

.date-time {
  align-self: center;
  height: 100%;
  display: flex;
  align-items: center; }

.icon-tray {
  align-self: flex-end;
  height: 100%;
  display: flex;
  align-items: center; }

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 10rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: rgba(29, 29, 29, 0.75); }
  .side-menu > *:not(:first-child) {
    margin-top: 2.5rem; }
  .side-menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s; }
    .side-menu__btn:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .side-menu__btn--show-applications {
      margin-top: auto !important; }
  .side-menu__icon {
    height: 7rem;
    width: 7rem; }

body {
  height: calc(100vh - 2rem);
  width: 100%;
  background: url("../imgs/full-size-ubuntu-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

h1 {
  font-family: inherit; }
