.top-strip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 3rem;

  // padding: 0 1rem;

  background-color: var(--color-dark-grey);
  color: #ffffff;

  font-size: 1.5rem;

  user-select: none;
}

.activities-btn {
  align-self: flex-start;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;

  padding-top: 3px;
  border-bottom: 3px solid transparent;

  transition: all 0.1s;

  &__label {
    pointer-events: none;
  }

  &:active,
  &:focus {
    border-bottom: 3px solid var(--color-orange-highlight);
  }

  &:hover {
    background-color: $background-light-white;
  }
}

.tab-container {
  align-self: flex-start;
  height: 100%;

  display: flex;
  align-items: center;

  margin-right: auto;
}

.tab {
  display: flex;
  align-items: center;

  height: 100%;

  padding: 0 1rem;

  transition: all 0.2s;

  & > * {
    margin-right: 0.75rem;
  }

  &:hover {
    background-color: $background-light-white;
  }

  &--active {
    padding-top: 3px;
    border-bottom: 3px solid var(--color-orange-highlight);
  }

  &__icon {
    pointer-events: none;
  }

  &__label {
    pointer-events: none;
  }

  &__cross {
    display: none;
    opacity: 0;
    border-radius: 50%;

    cursor: pointer;
    overflow: hidden;

    &:hover {
      background-color: var(--color-orange-highlight);
    }
  }

  &:hover > .tab__cross {
    display: block;
    opacity: 1;
  }
}

.date-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 14rem;
  padding-top: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 3px solid transparent;

  white-space: nowrap;

  cursor: default;

  &:active,
  &:focus {
    border-bottom: 3px solid var(--color-orange-highlight);
  }
}

.icon-tray {
  align-self: flex-end;
  height: 100%;

  display: flex;
  align-items: center;

  padding-right: 1rem;
  padding-top: 3px;

  border-bottom: 3px solid transparent;

  transition: all 0.1s;

  & > * {
    margin-left: 1rem;
    opacity: 0.8;
  }

  &:active,
  &:focus {
    border-bottom: 3px solid var(--color-orange-highlight);
  }

  &:hover {
    background-color: $background-light-white;
  }
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 8rem;

  padding-top: 4rem;
  padding-bottom: 1rem;

  background-color: rgba(#1d1d1d, 0.5);

  user-select: none;

  & > *:not(:first-child) {
    margin-top: 2.5rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7rem;
    height: 7rem;

    padding: 1rem;
    border-radius: 5px;

    cursor: pointer;

    transition: all 0.1s;

    & > img {
      pointer-events: none;
    }

    &:hover {
      background-color: $background-light-white;
    }
  }

  &__icon {
    height: 6rem;
    width: 6rem;
  }
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;

  height: 80%;
  width: 60%;

  background-color: var(--color-light-grey);

  overflow: hidden;

  border: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  &__small {
    max-height: 47.5rem;

    & > .window__main {
      overflow-y: auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;

    padding: 1rem;

    background-color: var(--color-dark-grey);
  }

  &__header-bar {
    display: flex;
    align-items: center;

    height: 3.5rem;
    width: 80%;

    padding-left: 1rem;
    border-radius: 5px;

    background-color: var(--color-light-grey);

    pointer-events: none;
  }

  &__header-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;

    opacity: 0.9;

    transition: all 0.1s;

    cursor: pointer;

    & > img {
      margin-left: 1rem;
    }

    & :last-child:hover {
      background-color: var(--color-orange-highlight);
    }
  }

  &__main {
    // height: 100%;
    height: calc(100% - 3.5rem);
    padding: 3rem 15%;
    overflow-y: scroll;
  }

  &--active {
    z-index: 4;
  }
}

.window-btn {
  height: 3rem;
  width: 3rem;

  padding: 0.5rem;
  border-radius: 50%;

  &:hover {
    background-color: $background-light-white;
  }
}

.quicklink-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;

  min-height: 10rem;

  margin: 2rem 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: var(--color-dark-grey);
    border: 1px solid #000000;

    transition: all 0.1s;

    cursor: pointer;

    & > span {
      pointer-events: none;
    }

    &:hover {
      background-color: $background-light-white;
    }
  }
}

.card {
  width: 100%;
  padding: 1rem;

  border-radius: 5px;
  background-color: var(--color-dark-grey);

  &__title {
    display: flex;

    & > button {
      order: 1;
      width: 2.5rem;
    }

    & > h2 {
      order: 2;
      margin-left: 0.75rem;
    }
  }

  &__tools {
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-style: italic;
  }

  &__expand-btn {
    cursor: pointer;
  }

  &__content {
    height: 0;
    overflow: hidden;

    &--expanded {
      height: auto;
    }
  }

  &__flex {
    display: flex;

    padding-top: 1.5rem;
    padding-bottom: 1rem;

    & > :not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  &__flex-item {
    height: 7.5rem;
    width: 7.5rem;
  }

  &__img {
    height: 100%;
    width: 100%;

    transition: all 0.15s ease-in;

    &--circular {
      border-radius: 50%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    margin: 1rem 0;
  }
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 16rem;
  height: 5rem;

  padding: 1rem;
  border-radius: 15px;

  opacity: 0.8;

  background-color: white;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);

  cursor: pointer;
  transition: all 0.2s;

  perspective: 1000px;

  &__text {
    font-size: 2rem;
    color: var(--color-dark-grey);
    pointer-events: none;
  }

  &__img {
    height: 3rem;
    width: 3rem;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-5%);
  }
}
