body {
  height: 100vh;
  width: 100%;
  background: url("../imgs/full-size-ubuntu-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

.window-container {
  position: relative;

  height: 100%;
  width: 100%;

  padding-top: 3rem;
  padding-left: 8rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}
